<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="forums">ホーム</a></li>
    <li class="breadcrumb-item"><a href="japan_votes/show">日本順位予想</a></li>
    <li class="breadcrumb-item active" aria-current="page">アンケート</li>
  </ol>
</nav>
<h1>日本順位予想</h1>
<%= render 'form', japan_vote: @japan_vote %>

<%= link_to 'Back', japan_votes_path %>
